.column-center-all {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.flex-flow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 60px;
  color: #2b2b3a;
}
.primary {
  background: #254558;
  color: white;
  width: 100px;
  height: 25px;
}
